<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="tests">
  <test name="Firefoxtest">
  <parameter name="browser" value="Firefox"></parameter>
    <classes>
      <class name="crossBrowserTest.ActualCBT"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="chrometest">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="crossBrowserTest.ActualCBT"/>
    </classes>
  </test> <!-- Test -->
 
  <test name="Edgetest">
  <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="crossBrowserTest.ActualCBT"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
